html, body {
	height: 100%;
	width: 100%
}
.navbar {
	text-align: center;
	background-color: #FAD8EA;
	padding: 1% 0;
	font-size: : 1.2em;
}
.navbar-brand {
	min-height: 55px;
	padding: 0 15px 5px;
}
.navbar-default .navbar-nav li a{
	color: #FEFEFE;
}

#home {
	background: url('img/background.jpg') no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center center;
}

.landing-text{
	color: #FEFEFE;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.h1{
	color: #150D1C;
}